/* App.module.css */
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.title {
  margin: 0;
  font-family: 'Times New Roman', serif;
  color: rgb(135, 6, 6);
  font-size: 24px;
  text-decoration: none;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}


