.homepageContainer {
  width: 100%;
  height: calc(100vh - 64px); /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.homepageImage {
  max-width: 90vw; /* Use 90% of the viewport width */
  max-height: 90vh; /* Use 80% of the viewport height */
  object-fit: contain;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}